PORT=8080
JWT_SECRET_KEY=ur_secret_key_here

# db
DB_USER=postgres
DB_PASSWORD=postgres
DATABASE_URL=postgres://postgres:postgres@localhost:5432/shortener?sslmode=disable

# redis
REDIS_PASSWORD=redis
REDIS_URL=redis://:redis@localhost:6379/0